<nav class="navbar fixed-top navbar-light bg-light">
  <div class="container-fluid">
    <div class="container">
      <a class="navbar-brand site-branding" href="<%= bio_home_url %>">
          Narendran <span class="logo_dot"></span> me
      </a>
    </div>
  </div>
</nav>