<div class="home-wrapper">
  <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <h1>404</h1>
    <h2>Not Found</h2>
    <div class="d-flex flex-row">
      <div class="p-1"><a href="<%= public_blog_home_url %>" class="btn btn-secondary">Blogs Home</a></div>
    </div>
  </div>
</div>