<div class="home-wrapper">
  <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="intro-image">
      <%= image_pack_tag 'main.jpeg', {class: 'img-fluid rounded-circle'} %>
    </div>
    <h1>Narendran K</h1>
    <p>A Software Developer</p>
    <div class="d-flex flex-row">
      <div class="p-1"><a href="https://github.com/narendran-kannan" class="btn btn-secondary">GitHub</a></div>
      <div class="p-1"><a href="<%= public_blog_home_url %>" class="btn btn-primary">Blogs</a></div>
    </div>
  </div>
</div>