<div class="home-wrapper">
  <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="intro-image">
      <%= image_tag 'main.jpeg', {class: 'img-fluid rounded-circle'} %>
    </div>
    <h1>Narendran K</h1>
    <p>A Software Developer</p>
    <a href="https://github.com/narendran-kannan" class="btn btn-primary">GitHub</a>
  </div>
</div>